*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#outer-container{
    background-image: url("./images/music.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#heading{
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px black;
    margin: 8px;
}
#copyright{
    color: white;
    font-size: 1.1rem;
    text-shadow: 2px 2px 3px black;
    margin: 8px;
}

#inner-container{
    width: 50vw;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px;
    backdrop-filter: blur(2px);
}
.innermost-white{
    width: 40px;
    height: 80px;
    background-color: white;
    margin: 2px;
    padding-top: 32px;
    transition: background-color 1.2s;
}
.innermost-white:hover{
    background-color: grey;
    box-shadow: 0px 0px 5px 5px;
}
.innermost-black{
    width: 40px;
    height: 80px;
    background-color: black;
    margin: 2px;
    color: white;
    padding-top: 32px;
    transition: background-color 1.2s;
}
.innermost-black:hover{
    background-color: green;
    box-shadow: 0px 0px 5px 5px;   
}

.activated{
    box-shadow: 4px 4px 4px 2px green, -4px -4px 4px 2px green;
}

/* For Responsiveness */
@media screen and (min-width: 358px) and (max-width: 440px){
    #inner-container{
        width: 70vw;
        height: 25vh;
        padding: 5px;
    }
    #heading{
        font-size: 1rem;
        margin: 8px;
    }
    #copyright{
        font-size: 0.8rem;
        margin: 8px;
    }
    .innermost-white{
        height: 60px;        
        padding-top: 22px;
    }
    .innermost-black{
        height: 60px;
        padding-top: 22px;
    }
    #outer-container{
        background-image: url("./images/music2.jpg");
        background-position: center;
        background-size: auto;
    }
}